html {
  font-family: "Noto Sans", sans-serif;
}

.jap-charc {
  font-family: "Noto Sans Japanese", sans-serif;
}

.btn-color {
  color: #005e76;
  border-color: #0084a6;
}

.btn-color:hover {
  background-color: #8bc9d9;
  border-color: #005e76;
  color: #005e76;
}
